/* css for the login page */

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Rubik:wght@300;400;500;600&family=Varela+Round&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
}

input, select {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: start;
    font-family: 'Fredoka', sans-serif;
}

.login-box, .signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0px;
    overflow: hidden;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 100%;
    font-family: 'Fredoka', sans-serif;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

p {
    margin-bottom: 0px;
}

h3 {
    margin: 0px;
}



img {
    width: 300px;
}

button:hover {
    opacity: 0.8;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.gender {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;   
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.no-margin {
    margin: 0px;
}

.signup-box * {
    height: 35px;
    margin: 3px;
    box-sizing: border-box;
}

.Tsign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px;
}
.Bsign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin: 0px;
    height: 100%;
    padding-top: 0px;
    margin-top: -11px;
}

#title1
{
    color: #FC9E4B;

}

#title2
{
    color: #E64543;
}

#title-add2
{
    color: black;
}  

#title-add1
{
    color:#4CAF50;
}

#item-responsible, #itemName {
    font-size: 22px;
    font-weight: 800;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.photo-gallery img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.arrow {
    cursor: pointer;
    width: 50px;
}


.horizonal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1; /* Allow the container to grow */
}

.selected {
    border: 3px solid #4CAF50;
  }